[user]
	name = Stefan Perju
	email = stefan.perju@yahoo.com
[branch]
	autosetuprebase = always
[alias]
	k = log --graph --decorate --pretty=oneline --abbrev-commit
	del = push origin --delete
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = remote prune origin
	f = fetch
	p = pull -r
	pu = push
	me = merge
	ren = rebase origin/next
	rem = rebase origin/master
	red = rebase origin/dev
	rec = rebase --continue
	rea = rebase --abort
	re = rebase
	mt = mergetool
	dt = difftool
	t = tag
	rh = reset --hard HEAD
	s = stash
	sp = stash pop
[core]
	autocrlf = input
[merge]
	tool = meld
