[user]
	name = Stefan Perju
	email = stefan.perju@1and1.ro
[branch]
	autosetuprebase = always
[alias]
	k = log --graph --decorate --pretty=oneline --abbrev-commit
	del = push origin --delete
	co = checkout
	br = branch
	ci = commit
	st = status
	pr = remote prune origin
	f = fetch
	p = pull -r
	pu = push
	me = merge
	ren = rebase origin/next
	rem = rebase origin/master
	rec = rebase --continue
	rea = rebase --abort
	re = rebase
	mt = mergetool
	dt = difftool
	t = tag
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"	
[core]
	autocrlf = input
[merge]
	tool = meld
